@font-face {
    font-family: jazzClassFont;
    src: url(../fonts/jazzClub.ttf);
  }
html, body {
    margin:0;
    background-color: #292929;
}
body {
    font-family:jazzClassFont;
    color: #777;
    margin: 0 auto;
    width:100%;
    background-color: #1281b4;
    overflow: scroll;
}
.container {
    max-width:1000px;
    margin: 0 auto 50px auto;
    overflow: hidden;
    background-image: url('../images/jazzBackground-1000x364.jpg');
    background-repeat: no-repeat;
    background-color: #292929;
    background-position: top;
    background-size: contain;
    height:100%;
    width:100%;
    position:relative;
}

#main-content {
    display: block;
    overflow:hidden;
    max-width: 675px;
    margin: 10% 10% 0 5%;
}

h1 {
    font-family: jazzClassFont;
    color: #d8e3e8;
    font-size:2.5em;
    text-align:left;
}

#game-container {
    font-family: Arial, Helvetica, sans-serif;
    color: #d8e3e8;
    margin: 20px 0;
    overflow:hidden;
}

h2 {
    font-size: 1.5em;
    margin: 30px 0;
    padding-right:20px;
}

h2.blinkMe {
    animation: blinker 0.5s linear;
    animation-iteration-count: 3;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.columns {
    width: 100%;
}

.left-column {
    width:50%;
    float:left;
}
.left-column #current-song {
    margin:20px 0 10px 0;
    font-size: 1em;
}

.left-column img {
    max-width: 225px;
    width: 100%;
}

.right-column {
    width:50%;
    float:right;
    margin:20px 0;
}

.right-column p {
    padding: 0 10%;
    margin-bottom: 10%;
}

.small-font {
    font-size: 0.75em;
}

p.m-5 {
    margin:5px 0;
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 0;
    width: 100%;
    /* color: #292929;
    background-color:#1281b4; */
    background-color: #292929;
    color: #1281b4;
    text-align:center;
    margin: 0 auto;
    position: fixed;
    bottom:0;
    left:0;
    right:0;
}

@media only screen and (min-width: 768px) {
    html {
        background-color: #1281b4;
    }
    h1 {
        font-size:4em;;
    }
    h2 {
        padding-right:0;
    }
    #main-content {
        margin: 15% 10% 0 10%;
    }
}